<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Live Streaming Demonstration</title>
</head>
<body>
<div class="container">
    <!-- <div class="row"> -->
        <!-- <div class="col-lg-8  offset-lg-2"> -->
            <h3 class="mt-5">Live Cameras</h3>
            <a href="setting">setting</a><br>
            Camera 1 ----> found = {{ variable[0] }} persons {{ variable2[0] }}<br>
            <img src= "{{url_for('static', filename='/Image/0.png')}}" width="40%"><br>
            Camera 2 ----> found = {{ variable[1] }} persons {{ variable2[1] }}<br>
            <img src= "{{url_for('static', filename='/Image/1.png')}}" width="40%"><br>
            Camera 3 ----> found = {{ variable[2] }} persons {{ variable2[2] }}<br>
            <img src= "{{url_for('static', filename='/Image/2.png')}}" width="40%"><br>
            Camera 4 ----> found = {{ variable[3] }} persons {{ variable2[3] }}<br>
            <img src= "{{url_for('static', filename='/Image/3.png')}}" width="40%"><br>
            Camera 5 ----> found = {{ variable[4] }} persons {{ variable2[4] }}<br>
            <img src= "{{url_for('static', filename='/Image/4.png')}}" width="40%"><br>
            Camera 6 ----> found = {{ variable[5] }} persons {{ variable2[5] }}<br>
            <img src= "{{url_for('static', filename='/Image/5.png')}}" width="40%"><br>
            Camera 7 ----> found = {{ variable[6] }} persons {{ variable2[6] }}<br>
            <img src= "{{url_for('static', filename='/Image/6.png')}}" width="40%"><br>
            Camera 8 ----> found = {{ variable[7] }} persons {{ variable2[7] }}<br>
            <img src= "{{url_for('static', filename='/Image/7.png')}}" width="40%"><br>
            Camera 9 ----> found = {{ variable[8] }} persons {{ variable2[8] }}<br>
            <img src= "{{url_for('static', filename='/Image/8.png')}}" width="40%"><br>
            Camera 10 ----> found = {{ variable[9] }} persons {{ variable2[9] }}<br>
            <img src= "{{url_for('static', filename='/Image/9.png')}}" width="40%"><br>
            Camera 11 ----> found = {{ variable[10] }} persons {{ variable2[10] }}<br>
            <img src= "{{url_for('static', filename='/Image/10.png')}}" width="40%"><br>
            Camera 12 ----> found = {{ variable[11] }} persons {{ variable2[11] }}<br>
            <img src= "{{url_for('static', filename='/Image/11.png')}}" width="40%"><br>
        <!-- </div> -->
    <!-- </div> -->
</div>
</body>
</html>