<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Live Streaming Demonstration</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Setting</h3>
            <form method="POST">
                camera1 : <input name="text0" value={{ number[0] }}><br>
                camera2 : <input name="text1" value={{ number[1] }}><br>
                camera3 : <input name="text2" value={{ number[2] }}><br>
                camera4 : <input name="text3" value={{ number[3] }}><br>
                camera5 : <input name="text4" value={{ number[4] }}><br>
                camera6 : <input name="text5" value={{ number[5] }}><br>
                camera7 : <input name="text6" value={{ number[6] }}><br>
                camera8 : <input name="text7" value={{ number[7] }}><br>
                camera9 : <input name="text8" value={{ number[8] }}><br>
                camera10 : <input name="text9" value={{ number[9] }}><br>
                camera11 : <input name="text10" value={{ number[10] }}><br>
                camera12 : <input name="text11" value={{ number[11] }}><br>
                <input type="submit">
            </form>
        </div>
    </div>
</div>
</body>
</html>